<!DOCTYPE HTML>
<html>
    <% include meta/meta.ejs %>
    <title><%= params.title %></title>
    <link href="/static/css/global.css" rel="stylesheet" type="text/css" charset="utf-8"/>
    <link href="/static/css/layer.css" rel="stylesheet" type="text/css" charset="utf-8"/>
<head>
</head>
<body>
    <%include ejs/goods.ejs %>
</body>
</html>
