<!DOCTYPE HTML>
<html>
    <head>
        <% include meta/meta.ejs %>
        <title><%= params.title %></title>
        <link href="/static/css/global.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/layer.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/link.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/font.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/list.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/header.css" rel="stylesheet" type="text/css"/>
        <link href="/static/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="header">
            <% include layer/header.ejs %>
        </div>
        <div id="menu">
            <% include layer/menu.ejs %>
        </div>
        <div id="container">
            <% include layer/container.ejs %>
        </div>
        <div id="footer">
            <% include layer/footer.ejs %>
        </div>
        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
        <script src="/static/js/header.js"></script>
        <script src="/static/js/menu.js"></script>
    </body>
</html>
