.header_nav_item {
    display: inline;
    color: white;
    margin: 0 10px;
    font-size: larger;
    font-family: cursive;
    font-style: normal;
}
.header_nav_item > a {
    text-decoration: none;
    color: white;
    transition: 0.5s
}
.header_nav_item > a:hover {
    color: black;
    background: white;
    border-radius: 20%;
}

#header_nav {
    margin: 0 300px 0 100px;
    padding: 20px 0;
}

#header_login {
    float: right;
    width: 300px;
}
#header_login > ul {
    margin: 20px 0 0 140px;
    display: inherit;
}

.header_login_item_login {
    margin: 0 0 0 0;
}
.header_login_item_signup {
    margin: 0 20px 0 0;
}
.header_login_shopping_cart {
    height: 48px;
    float: left;
    display: inherit;
    padding: 10px 0 0 0;
    margin: 0 0 0 60px;
}

#header_logo {
    float: left;
}

#header_logo > img {
    height: 64px;
    display: inherit;
}

.header_nav_sub_nav {
    border: 1px solid red;
    position: absolute;
    left: 0;
    top: 64px;
    width: 100%;
    height: 104px;
    background: black;
    display: none;
    font-size: larger;
    font-family: cursive;
    font-style: normal
}

.header_nav_sub_nav > a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    margin: 10px 10px 10px 10px;
    display: inline-block;
}

.header_nav_sub_nav > a:hover {
    color: black;
    background: white;
    border-radius: 20%;
}
