<div id="header_login">
    <a href="#"><img class="header_login_shopping_cart" src="/static/image/3d/6e/71/12f8819ea6830adcb3655e5df5f0beb1.svg"></a>
    <ul>
        <li class="header_nav_item header_login_item_login"><a href="#">Login</a></li>
        <li class="header_nav_item header_login_item_login">/</li>
        <li class="header_nav_item header_login_item_signup"><a href="#">SignUp</a></li>
    </ul>
</div>
<div id="header_logo">
    <img src="/static/image/3d/6e/71/c456431fe63affc68b027b9c2126df4f.svg">
</div>
<div id="header_nav">
    <% if (locals.params.navigate['main']) { %>
        <ul>
            <% for(var i = 0; i < params.navigate['main'].length; i++) { %>
                <% var item = params.navigate['main'][i] %>
                <li class="header_nav_item <%=item['key']%>"><a href="#"><%= item['value'] %></a></li>
                <% if(locals.params.navigate[item['key']]) { %>
                    <div class="header_nav_sub_nav header_nav_sub_nav_<%=item['key']%>">
                        <% for(var j = 0; j < params.navigate[item['key']].length; j++) { %>
                            <% var subitem = params.navigate[item['key']][j] %>
                                <a href="#"><%= subitem['value'] %></a>
                        <% }%>
                    </div>
                <% } %>
            <% } %>
        </ul>
    <%}%>
</div>
