<div id="header_login">
    <a href="#"><img class="header_login_shopping_cart" src="/static/image/3d/6e/71/12f8819ea6830adcb3655e5df5f0beb1.svg"></a>
    <ul>
        <li class="header_nav_item header_login_item_login"><a href="#">Login</a></li>
        <li class="header_nav_item header_login_item_login">/</li>
        <li class="header_nav_item header_login_item_signup"><a href="#">SignUp</a></li>
    </ul>
</div>
<div id="header_logo">
    <img src="/static/image/3d/6e/71/c456431fe63affc68b027b9c2126df4f.svg">
</div>
<div id="header_nav">
    <ul>
        <li class="header_nav_item"><a href="#">Home</a></li>
        <li class="header_nav_item"><a href="#">Home</a></li>
        <li class="header_nav_item"><a href="#">Home</a></li>
        <li class="header_nav_item"><a href="#">Home</a></li>
    </ul>
</div>
