<div id="menu_banner">
    <div class="menu_banner_canvas_group">
        <canvas class="menu_banner_canvas"></canvas>
        <canvas class="menu_banner_canvas"></canvas>
        <canvas class="menu_banner_canvas"></canvas>
        <canvas class="menu_banner_canvas"></canvas>
        <canvas class="menu_banner_canvas"></canvas>
    </div>
</div>
