<div class="swiper-container menu_swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide menu_slide">
            <img src="/static/image/3d/6e/71/54cbf12b913a3675b3330dffc6ed6b62.svg"/>
        </div>
        <div class="swiper-slide menu_slide">
            <img src="/static/image/3d/6e/71/9cfd07b44dee25422311a3fd155bcfcd.svg"/>
        </div>
        <div class="swiper-slide menu_slide">
            <img src="/static/image/3d/6e/71/7ca346614c04fd8d39b16c6c9c2baa85.svg"/>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
