<div class="list_wrapper">
    <% for(var i = 0; i < params.goods_items.length; i++) { %>
        <div class="list_item"><img src="/static/image/3d/6e/71/a74877cd9b162f06819e9563a23d6e71.jpg"/></div>
    <% } %>
</div>
