<div id="goods_header">

</div>
<div id="goods_menu">
    <div class="goods_menu_colors_show">
        <canvas class="goods_menu_colors_show_canvas" width="30" height="30"></canvas>
        <canvas class="goods_menu_colors_show_canvas" width="30" height="30"></canvas>
        <canvas class="goods_menu_colors_show_canvas" width="30" height="30"></canvas>
    </div>
    <div class="goods_menu_show">
        <img src="/static/image/3d/6e/71/14baa2b53b2ad54fe4771b9fff2aaf35.jpg">
    </div>
</div>
<div id="goods_container">
    <div class="goods_container_right"></div>
    <div class="goods_container_left"></div>
    <div class="goods_container_mid"></div>
</div>
<div id="goods_footer">

</div>
